{% extends "_layouts/base.html" %}

{% block page_title %} Record | {% endblock %}

{% block page_content %}
<p><a href="{% url 'media:table' %}">&larr; All Uploads</a></p>

<h4>{{ record.title }}</h4>

<table class="tg">
    <tr>
        <th>Content Type:</th>
        <td>{{ record.contenttype }}</td>
    </tr>
    <tr>
        <th>Version:</th>
        <td>{{ record.version }}</td>
    </tr>
    <tr>
        <th>Release Date:</th>
        <td>{{ record.releasedate }}</td>
    </tr>
    <tr>
        <th>Language:</th>
        <td>{{ record.language }}</td>
    </tr>
    <tr>
        <th>Bar Code:</th>
        <td>{{ record.barcode }}</td>
    </tr>
    <tr>
        <th>File Name:</th>
        {% if record.media.file %}
            <td>
                <a href="{{ record.media.file.url }}">{{ record.filename }}</a>
            </td>
        {% else %}
            <td>{{ record.filename }}: Not available.</td>
        {% endif %}
    </tr>
    <tr>
        <th>MD5:</th>
        <td>{{ record.md5 }}</td>
    </tr>
</table>


{% endblock %}
