{% extends "_layouts/base.html" %}

{% block page_title %} Upload | {% endblock %}

{% block page_content %}

<h4>Upload from:</h4>
{{ upload.created_at }}

<p>
<p>
    Manifest(s):
    <ul>
    {% for manifest in upload.manifests.all %}
        <li><a href="{{ manifest.file.url }}">{{ manifest.file.name }}</a></li>
        {% for record in manifest.records.all %}
            <li><a href="{{ record.get_absolute_url }}">{{ record.title }}</a></li>
        {% empty %}
            <li>No Records in this Manifest.</li>
        {% endfor %}
    {% empty %}
        <li>No Manifest files in this upload.</li>
    {% endfor %}
    </ul>

<p>
    Media File(s):
    <ul>
    {% for media in upload.media.all %}
        <li><a href="{{ media.file.url }}">{{ media.file.name }}</a></li>
    {% empty %}
        <li>No Media files in this upload.</li>
    {% endfor %}
    </ul>

{% endblock %}
