{% extends "_layouts/base.html" %}

{% block page_title %} Upload | {% endblock %}

{% block page_content %}

<h4>Created:</h4>
{{ upload.created_at }}

<p>
<p>
    Record(s):
    {% if upload.records %}
        <ul>
        {% for record in upload.records.all %}
            <li><a href="{{ record.get_absolute_url }}">
                {{ record.title }}</a></li>

        {% endfor %}
        </ul>

    {% endif %}

<p>
    Media File(s):
    {% if upload.media %}
        <ul>
        {% for media in upload.media.all %}
            <li><a href="{{ media.file.url }}">{{ media.file.name }}</a></li>

        {% endfor %}
        </ul>

    {% endif %}

{% endblock %}
