{% extends "_layouts/base.html" %}

{% block page_title %} Upload | {% endblock %}

{% block page_content %}
<p><a href="{% url 'media:table' %}">&larr; All Uploads</a></p>

<h4>Upload from:</h4>
{{ upload.created_at }}

<p>
<p>
<h4>Manifest(s):</h4>
    {% for manifest in upload.manifests.all %}
        <table class="tg">
        <tr>
            <th>
                <a href="{{ manifest.file.url }}">{{ manifest.file.name }}</a>
            </th>
        </tr>
        <tr>
            <th>Title</th>
            <th>Content Type</th>
            <th>Version</th>
            <th>Release Date</th>
            <th>Language</th>
            <th>File</th>
        </tr>
        {% for record in manifest.records.all %}
            <tr>
                <td>
                    <a href="{{ record.get_absolute_url }}">{{ record.title }}</a>
                </td>
                <td>{{ record.contenttype }}</td>
                <td>{{ record.version }}</td>
                <td>{{ record.releasedate }}</td>
                <td>{{ record.language }}</td>
                {% if record.media.file %}
                    <td>
                        <a href="{{ record.media.file.url }}">{{ record.filename }}</a>
                    </td>
                {% else %}
                    <td>{{ record.filename }}: Not available.</td>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td>
                    No Records in this Manifest.
                </td>
            </tr>
        {% endfor %}
        </table>

    {% empty %}
        <li>No Manifest files in this upload.</li>
    {% endfor %}

<p>
<h4>Media File(s):</h4>
    {% for media in upload.media.all %}
        <li><a href="{{ media.file.url }}">{{ media.file.name }}</a></li>
    {% empty %}
        <li>No Media files in this upload.</li>
    {% endfor %}

{% endblock %}
