{% extends "_layouts/base.html" %}

{% block page_title %} Manifests {% endblock %}

{% block page_content %}
<table class="tg" width="100%">
    <tr>
        <th>
            <h4>Select a file to upload.</h4>
        </th>
    </tr>
</table>

<form action="{% url "media:table" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>

    <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
    <p>
        {{ form.file.errors }}
        {{ form.file }}
    </p>

    <p><input type="submit" value="Upload" /></p>

<br><br>
<table class="tg" width="100%">
    <tr>
        <th>
            <h4>Upload History</h4>
        </th>
    </tr>
</table>

{% for upload in uploads %}
    {% include "upload_table.html" with upload=upload %}

{% empty %}
    No previous uploads.

{% endfor %}

{% endblock %}
