{% extends "_layouts/base.html" %}

{% block page_title %} Manifests {% endblock %}

{% block page_content %}
    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url "media:table" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.manifest.label_tag }} {{ form.manifest.help_text }}</p>
        <p>
            {{ form.manifest.errors }}
            {{ form.manifest }}
        </p>
        <p><input type="submit" value="Upload" /></p>

    <!-- List of uploaded manifest_files -->
    {% if media_files %}
        <table width='100%'>
            <tr>
                <th>Title</th>
                <th>Content Type</th>
                <th>Version</th>
                <th>Release Date</th>
                <th>Language</th>
                <th>File</th>
            </tr>

            {% for media in media_files %}
                <tr>
                    <td><a href="{{ media.get_absolute_url }}">
                        {{ media.title }}</a></td>
                    <td>{{ media.contenttype }}</td>
                    <td>{{ media.version }}</td>
                    <td>{{ media.releasedate }}</td>
                    <td>{{ media.language }}</td>
                    <td>
                        {% if media.mediafile %}
                            <a href="{{ media.mediafile.url }}">
                                {{ media.mediafile.name }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        </table>

    {% else %}
        <p>No available media files.</p>
    {% endif %}

{% endblock %}
