<br><br>
{% if verbose %}
    <h4>Uploaded:</h4>
{% else %}
    Uploaded:
{% endif %}

{{ upload.created_at }}

{% if verbose %}
    <br><br>
    <h4>Manifest(s):</h4>
{% endif %}

    {% for manifest in upload.manifests.all %}
        <li><a href="{{ manifest.file.url }}">{{ manifest.file.name }}</a></li>

        <table class="tg" width="100%">
        <tr>
            <th width="20%">Title</th>
            <th width="15%">Content Type</th>
            <th width="15%">Version</th>
            <th width="20%">Release Date</th>
            <th width="10%">Language</th>
            <th width="20%">File</th>
        </tr>
        {% for record in manifest.records.all %}
            <tr>
                <td>
                    <a href="{{ record.get_absolute_url }}">{{ record.title }}</a>
                </td>
                <td>{{ record.contenttype }}</td>
                <td>{{ record.version }}</td>
                <td>{{ record.releasedate }}</td>
                <td>{{ record.language }}</td>
                {% if record.media.file %}
                    <td>
                        <a href="{{ record.media.file.url }}">{{ record.filename }}</a>
                    </td>
                {% else %}
                    <td>Not Available:<br>{{ record.filename }}</td>
                {% endif %}
            </tr>
        {% empty %}
            {% if verbose %}
                <tr>
                    <td>
                        No Records in this Manifest.
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>

    {% empty %}
        {% if verbose %}
            <li>No Manifest files in this upload.</li>
        {% endif %}
    {% endfor %}

{% if verbose %}
    <br><br>
    <h4>Media File(s):</h4>
{% endif %}

    {% for media in upload.media.all %}
        <li><a href="{{ media.file.url }}">{{ media.file.name }}</a></li>
    {% empty %}
        {% if verbose %}
            <li>No Media files in this upload.</li>
        {% endif %}
    {% endfor %}
